openapi: 3.1.0
info:
  title: Air Quality Programmatic APIs Real-time Air Quality Tile Air Quality Programmatic APIs Real Time Air Quality Tile API Search API
  description: API providing real-time air quality data as map tiles.
  version: 1.0.0
servers:
- url: https://tiles.aqicn.org/tiles
  description: Production server
tags:
- name: Search
paths:
  /search/:
    get:
      operationId: searchStations
      summary: Air Quality Programmatic APIs AQICN Search Monitoring Stations
      description: Search for air quality monitoring stations by keyword, city name, or station name.
      tags:
      - Search
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: keyword
        in: query
        required: true
        description: Search keyword (city or station name)
        schema:
          type: string
        example: London
      - name: token
        in: query
        required: true
        description: API authentication token
        schema:
          type: string
        example: demo
      responses:
        '200':
          description: List of matching stations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationSearchResult'
              examples:
                searchStations200Example:
                  summary: Default searchStations 200 response
                  x-microcks-default: true
                  value:
                    status: ok
                    data:
                    - uid: 5724
                      aqi: '42'
                      station:
                        name: London, United Kingdom
                        geo:
                        - 51.5074
                        - -0.1278
components:
  schemas:
    StationSearchResult:
      type: object
      description: Station search result
      properties:
        status:
          type: string
          example: ok
        data:
          type: array
          description: List of matching stations
          items:
            type: object
            properties:
              uid:
                type: integer
                description: Station unique ID
                example: 8502
              aqi:
                type: string
                description: Current AQI value or "N/A"
                example: '45'
              station:
                type: object
                properties:
                  name:
                    type: string
                    description: Station name
                    example: Beijing, China
                  geo:
                    type: array
                    items:
                      type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
      description: API key for authentication
